# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
**/.idea
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
**/target
**/.mvn

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Directories
######################
/build/**
/spring_loaded/**
/deploy/**
/out/**
/lib/**

######################
# Logs
######################
*.log
logs/*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

# e2e
/e2e/*.js
/e2e/*.map
